{% load static %}
<div class="sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Popular Articles</h3>
    {% for post in latest_post %}
        <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4"
                style="background-image: url({{ post.image.url  }});"></a>
            <div class="text">
                <h3 class="heading"><a href="{% url 'single' post.pk %}">{{post.title}}</a></h3>
                <div class="meta">
                    <div><a href="#"><span class="far fa-calendar-alt mr-2"></span>{{post.created_date | date:'Y-m-d'}}</a></div>
                    <div><a href="#"><span class="fas fa-user mr-2"></span> {{post.author}}</a></div>
                    <div><a href="#"><span class="far fa-comment-dots mr-2"></span> 19</a></div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>