asgiref==3.8.1
attrs==25.3.0
black==25.1.0
click==8.2.1
colorama==0.4.6
Django==5.1.7
django-filter==25.1
django-taggit==6.1.0
djangorestframework==3.16.0
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.7.1
flake8==6.1.0
inflection==0.5.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
Markdown==3.8.2
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.8
pycodestyle==2.11.1
pyflakes==3.1.0
python-decouple==3.8
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.26.0
sqlparse==0.5.3
tzdata==2025.1
uritemplate==4.2.0
