
{% load static %}
<div class="sidebar-box subs-wrap img"
style="background-image: url({% static 'images/bg_1.jpg' %});">
<div class="overlay"></div>
<h3 class="mb-4 sidebar-heading">Newsletter</h3>
<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia</p>
<form  class="subscribe-form"   method="post" action="{% url 'newsletter' %}" >
    {% csrf_token %}
    <div class="form-group">
        {{ newsletter_form }}
        <button type="submit" value="" class="mt-2 btn btn-white submit">Subscribe</button>
    </div>
</form>
</div>
